<header class="container-fluid p-0">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom p-0"
        style="background-color: #2C2F3D;">
        <div class="container-fluid">
            <div class="row w-100  text-light">
                <div class="col-sm-6 border-bottom">
                    <div class="d-flex">
                        <div class="d-flex flex-column gap-0 border-end pe-3 ">
                            <p class="text-end mb-0">भारत सरकार</p>
                            <p class="text-end mb-0">GOVERNEMENT OF INDIA</p>
                        </div>
                        <div class="d-flex flex-column gap-0 ps-3">
                            <p class="text-start mb-0">मंत्रालय/ विभाग का नाम</p>
                            <p class="text-start mb-0">MINISTRY/ DEPARTMENT NAME</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 border-bottom d-flex justify-content-end">
                    <div class="d-flex">
                        <a href="" class="text-decoration-none border-start border-end p-2 text-light">
                            SKIP TO MAIN CONTENT
                        </a>
                        <a href="" class="text-decoration-none border-end p-2 text-light">
                            <i class="bi bi-search"></i>
                        </a>
                        <a href="" class="text-decoration-none border-end p-2 text-light">
                            <i class="bi bi-type fs-6"></i>
                        </a>
                        <a href="" class="text-decoration-none border-end p-2 text-light">
                            <i class="bi bi-diagram-3-fill fs-6"></i>
                        </a>
                        <span class="text-decoration-none px-2 text-light">
                            <select name="language" id="language"
                                class="form-select p-2 px-5 bg-transparent text-white fs-6 border-0" value="English">
                                <option value="English">English</option>
                                <option value="Hindi">Hindi</option>
                                <option value="Urdu">Urdu</option>
                            </select>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom px-2">
        <div class="container-fluid d-flex justify-content-between align-items-center">
            <div class="row w-100">
                <div class="col-md-12 d-flex justify-content-between">
                    <div class="d-flex">
                        <img src="~/resources/images/india-logo.png" class="img-fluid" alt="Emblem" />
                        <div class="d-flex flex-column gap-0 p-4 fw-bold">
                            <p class="text-start mb-0">समाज कल्याण विभाग</p>
                            <p class="text-start mb-0">SOCIAL WELFARE DEPARTMENT</p>
                        </div>
                    </div>
                    <img src="~/resources/images/spec.png" class="img-fluid" style="max-width: 150px;" alt="Specs">
                </div>
            </div>
        </div>
    </nav>
</header>

<script>

</script>