<div class="container-fluid d-flex  align-items-center auto-height">
    <div class="container-fluid mt-2">
        <div class="container-fuild bg-dark text-white p-1 fs-2 fw-bold w-100">
            ABOUT Social Welfare Department
        </div>
        <p class="fs-2 fw-bold">Welcome to Social Welfare Department</p>
        <p class="fs-4">Social Welfare Department is a generic application to provide an electronic delivery for all the
            services
            provided by
            The Government to The citizens. The Government of India, State Government and Local Governments are
            providing various services to benefit the citizens at Center, State or Local level primarly Government
            to Citizen (G2C) and Government to Business(G2B)</p>

        <p class="fs-2 fw-bold">The following are the salient features of the software -</p>
        <ol class="fs-4">
            <li>Service(s) will be created online.</li>
            <li>Citizens will be submitting applications online</li>
            <li>Service units will be able to receive application online</li>
            <li>Service(s) will be created online.</li>
            <li>Citizens will be submitting applications online</li>
            <li>Service units will be able to receive application online</li>
        </ol>
    </div>
</div>