@{
    ViewData["Title"] = "Home Page";
}

@section IndexStyle {
    <link rel="stylesheet" href="~/css/Home/Index.css">
}

<div class="container-fuild p-5">
    <div class="container-fluid p-sm-5">
        <div class="row">
            <div class="col-sm-3">
                <div class="card shadow-lg">
                    <img class="card-img-top img-thumbnail" style="max-height: 30vh;" src="~/resources/images/state.jpg"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">STATES ADOPTED</h4>
                        <p class="card-text fs-2">0</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg">
                    <img class="card-img-top img-thumbnail" style="max-height: 30vh;"
                        src="~/resources/images/service.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">SERVICES LAUNCHED</h4>
                        <p class="card-text fs-2">219</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg">
                    <img class="card-img-top img-thumbnail" style="max-height: 30vh;"
                        src="~/resources/images/appReceived.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">APPLICATIONS RECEIVED</h4>
                        <p class="card-text fs-2">3,421,234</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg">
                    <img class="card-img-top img-thumbnail" style="max-height: 30vh;"
                        src="~/resources/images/received.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">RECEIVED</h4>
                        <p class="card-text fs-2">2,421</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-sm-3">
                <div class="card shadow-lg">
                    <img class="card-img-top img-thumbnail" style="max-height: 30vh;" src="~/resources/images/state.jpg"
                        alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">STATES ADOPTED</h4>
                        <p class="card-text fs-2">0</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg">
                    <img class="card-img-top img-thumbnail" style="max-height: 30vh;"
                        src="~/resources/images/service.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">SERVICES LAUNCHED</h4>
                        <p class="card-text fs-2">219</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg">
                    <img class="card-img-top img-thumbnail" style="max-height: 30vh;"
                        src="~/resources/images/appReceived.jpg" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">APPLICATIONS RECEIVED</h4>
                        <p class="card-text fs-2">3,421,234</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card shadow-lg">
                    <img class="card-img-top img-thumbnail" style="max-height: 30vh;"
                        src="~/resources/images/received.png" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">RECEIVED</h4>
                        <p class="card-text fs-2">2,421</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
