/*  */

.heading{
    font-size: 18px;
    font-family: 'Arial Black';
}

.errorMsg{
    font-size: 10px;
    color: #FFA500;
    font-weight: bold;
    padding: 10px;
}

table{
    table-layout: fixed;
}

.label-cell{
    font-weight: bold;
}

.imgUser{
    width: 100px;
}

